<!DOCTYPE html>
<html>
<h2>Estadísticas</h2>
<head>
  <style>
    .container {
      display: flex;
    }

    .column {
      flex: 1;
      margin-right: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="column">
      <div>
        <canvas id="lineChart1"></canvas>
      </div>
    </div>
    <div class="column">
      <div>
        <canvas id="lineChart2"></canvas>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="column">
      <div>
        <canvas id="lineChart3"></canvas>
      </div>
    </div>
    <div class="column">
      <div>
        <canvas id="barChart1"></canvas>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="column">
      <div>
        <h4>Autores por papers publicados</h4>
        <table>
          <thead>
            <tr>
              <th># autores</th>
              <th># papers (%)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of autoresPorPapersTable">
              <td>{{ row['# autores'] }}</td>
              <td>{{ row['# papers (%)'] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
      <div class="column">
        <div>
          <h4>Papers por número de autores</h4>
          <table>
            <thead>
              <tr>
                <th># autores</th>
                <th># papers (%)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of papersPorAutoresTable">
                <td>{{ row['# autores'] }}</td>
                <td>{{ row['# papers (%)'] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="column">
        <div>
          <canvas id="lineChart4"></canvas>
        </div>
      </div>
      <div class="column">
        <div>
          <canvas id="lineChart5"></canvas>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="column">
        <div>
          <table id="tablaBigramas">
            <thead>
              <tr>
                <th>Bigrama</th>
                <th>Apariciones</th>
                <th>Primer año</th>
                <th>Último año</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
      <div class="column">
        <div>
          <table id="tablaTrigramas">
            <thead>
              <tr>
                <th>Trigrama</th>
                <th>Apariciones</th>
                <th>Primer año</th>
                <th>Último año</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>

</body>
</html>
