body {
  font-family: "Roboto";
  margin: 0 auto;
  padding: 10px;
  
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px  rgb(0, 22, 68);
}

.button-stats button{
  background-color: rgb(0, 22, 68);
  margin-top: 5px;
  margin-bottom: 10px;
}

.button-filter button{
  background-color: rgb(0, 22, 68);
  margin-left: 5px;
}

.etiquetas-container {
  display: flex;
  flex-wrap: wrap;
}

.etiquetas-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.etiqueta {
  width: calc(100% / 3);
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 5px;
}

h3 {
  font-weight: normal;
  font-size: 16px; 
}

ul {
  list-style-type: none;
  padding: 0;
}


h1 {
  text-align: center;
  color: #333333;
  font-size: 35px;
}

input[type="text"] {
  padding: 8px;
  width: 70%;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  background-color: #3639d1;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

select {
  padding: 8px;
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

input[type="checkbox"] {
  margin-right: 8px;
}

span.selected {
  font-weight: bold;
}
  
