body {
  font-family: "Roboto";
  margin: 0 auto;
  padding: 10px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px  rgb(0, 22, 68);
}

h1 {
  text-align: center;
  font-size: 35px;
}

.box-conference{
  margin-bottom: 10px;
}

.noResults p{
  color: rgb(230, 59, 37);
  margin-left: 10px;
  font-size: 15px;
  margin-top: -8px;
}

.buttons {
  display: flex;
  margin-bottom: 20px;
}

button:disabled {
  background-color: #cccccc; 
  cursor: not-allowed;
}

.button-years,
.button-decade {
  margin-right: 10px; /* Espacio entre los botones */
}

.button-years:hover,
.button-decade:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.button-stats button{
  margin-bottom: 10px;
}

.button-stats button:disabled{
  background-color: #cccccc;
  margin-bottom: 10px;
  cursor: not-allowed;
}

.button-stats button:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

input[type="text"] {
  padding: 8px;
  width: 70%;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  background-color: rgb(0, 22, 68);
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

.title-select{
  margin-bottom: 2px;
}

select {
  padding: 8px;
  width: 85%;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="checkbox"] {
  margin-right: 8px;
}

span.selected {
  font-weight: bold;
}

.columns {
  column-count: 6; /* Define el número de columnas */
}

