

<div class="container">

  <!-- Title -->
  <h1>Collaboration Networks</h1>

  <!-- Search Conference -->
  <div class="box-conference">
    <input type="text" [(ngModel)]="filtersBOX" placeholder="Enter the Conference or Journal" (keyup.enter)="completeSuggestion(filtersBOX)" (input)="autocompleteConference(filtersBOX)">
    <button class="button-add"  type="button" (click)="completeSuggestion(filtersBOX)">Add</button>
    <div *ngIf="autocompleteConference.length > 0">
      <ul>
        <li class="click-element " *ngFor="let suggestion of completeConference" (click)="selectSuggestion(suggestion)">
          {{ suggestion }}
        </li>
      </ul>
    </div>
  </div>

  <div class="noResults" *ngIf="noResultsFoundConference">
    <p>Conference or Journal not found. Please try another Conference or Journal</p>
  </div>


  <div *ngIf="showAppend || showComunities" class="filters-list">
    <div *ngIf="showComunities">
      <p>Communities</p>
      <ul>
        <li *ngFor="let filter of selectedCommunities">
          {{ filter.name }}
          {{filter.selectedFilter}}
          <button class="button-delete" (click)="deleteCommunity(filter)">X</button>
        </li>
      </ul>
    </div>
    <div *ngIf="showAppend && showComunities">
      <hr>
    </div>

    <div *ngIf="showAppend">
      <p>Current Conferences:</p>
      <ul>
        <li *ngFor="let filter of filtersList">
          {{ filter }}
          <button class="button-delete" (click)="deleteFilter(filter)">X</button>
        </li>
      </ul>

      <div class="buttons">
        <div class="button-community">
          <button (click)="openModal(community)" [disabled]="filtersList.length === 0">Create Community</button>
        </div>
      </div>
    </div>
    
  </div>



  <ng-template #community>
    <div class="custom-modal">
      <div class="modal-container">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Create Community</h4>
            <button type="button" class="close-btn" aria-label="Close" (click)="closeModal()">
              <span class="close-icon" aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input type="text" [(ngModel)]="nameCommunity" placeholder="Add name Community">
            <ul>
              <li *ngFor="let filter of filtersList">
                {{ filter }}
                <button class="button-delete" (click)="deleteFilter(filter)">X</button>
              </li>
            </ul>
            <div class="button-community">
              <button (click)="createCommunity(filtersList)">Create</button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  

  <!-- Buttons Filter -->
  <div class="buttons">
    <div class="button-years">
      <button (click)="execFunctionsYear()" [disabled]="filtersList.length === 0">Filter by years</button>
    </div>
    <div class="button-decade">
      <button (click)="execFunctionsDecades()" [disabled]="filtersList.length === 0">Filter by decades</button>
    </div>
    <div class="button-decade">
      <button (click)="openModal(selectCommunity)" [disabled]="filtersList.length === 0">SelectCommunity</button>
    </div>
  </div>

  <ng-template #selectCommunity>
    <div class="custom-modal">
      <div class="modal-container">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Create Community</h4>
            <button type="button" class="close-btn" aria-label="Close" (click)="closeModal()">
              <span class="close-icon" aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Select communities:</p>
            <!-- <ng-select
              [items]="communities"
              [(ngModel)]="selectedCommunities"
              [multiple]="true"
              bindLabel="name"
              placeholder="Select Communities"
              class="selectCommunities"
            >
            
            </ng-select> -->
            <select name="communitySelect" [(ngModel)]="selectedCommunities" multiple>
              <option *ngFor="let community of communities" [ngValue]="community">
                {{ community.name }} {{community.filtersList}}
              </option>
            </select>
        
            <div class="button-decade">
              <button (click)="onFilterSelected(selectedCommunities)">Search Communities</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


  <!-- Filter by Decade -->
  <div class="decades" *ngIf="showDecades && !showYears">
    <div *ngIf="filteredTitles.length > 0 ">
      <label>
        <input type="checkbox" [(ngModel)]="selectDecades" (change)="selectDecade()">
        <span>1989-1999</span>
      </label>
    </div>
  
    <div *ngIf="filteredTitles.length > 0">
      <label>
        <input type="checkbox" [(ngModel)]="selectDecades2" (change)="selectDecade2()">
        <span>1999-2009</span>
      </label>
    </div>
  
    <div *ngIf="filteredTitles.length > 0">
      <label>
        <input type="checkbox" [(ngModel)]="selectDecades3" (change)="selectDecade3()">
        <span>2009-2019</span>
      </label>
    </div>
  
    <div *ngIf="filteredTitles.length > 0">
      <label>
        <input type="checkbox" [(ngModel)]="selectDecades4" (change)="selectDecade4()">
        <span>2019-2024</span>
      </label>
    </div>
  </div>
      
  <!-- Select All -->
  <div *ngIf="(filteredTitles.length > 0) && !showDecades">
    <label>
      <input type="checkbox" [(ngModel)]="selectAll" (change)="selectAlls()">
      <span>All</span>
    </label>
  </div>
  
  <!-- Filter by Year -->
  <div *ngIf="!showDecades">
    <div class="columns">
      <div class="column" *ngFor="let title of filteredTitles; let i = index">
        <label>
          <input type="checkbox" [(ngModel)]="title.selected" (change)="titleChanged()">
          <span [ngClass]="{ 'selected': title.selected }">{{ title.title }}</span>
        </label>
      </div>
    </div>
  </div>

   <!-- Generate Stats -->
   <div class="stats" >
    <div class="button-stats" *ngIf="showButtons">
      <button [hidden]="(this.noResultsFoundConference === true) ||
      (this.noResultsFoundConference === undefined)" [disabled]="!existSelectTitle()" (click)="generateStatistics()">Generate Stats</button>
    </div>
    <div class="button-stats" *ngIf="showButtons">
      <button [hidden]="(this.noResultsFoundConference === true) ||
      (this.noResultsFoundConference === undefined)" [disabled]="!existSelectTitle()" (click)="generateConf()">Info</button>
    </div>
    <div class="button-clear" *ngIf="filteredTitles.length > 0  ">
      <button (click)="clear2()">Cancel</button>
    </div>
    
  </div>
  <div class="modal-button">
    <button class="help" (click)="openModal(template)">?</button>
  </div>


</div>


<ng-template #template>
  <div class="custom-modal">
    <div class="modal-container">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Help</h4>
          <button type="button" class="close-btn" aria-label="Close" (click)="closeModal()">
            <span class="close-icon" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Buscar solo uno:</p>
          <ul>
            <li>ER</li>
            <li>World Wide Web</li>
            <!-- Agrega más elementos de la lista aquí -->
          </ul>
          <p>Buscar mas de uno (separar por comas):</p>
          <ul>
            <li>ER, 3DOR, BDM</li>
            <!-- Agrega más elementos de la lista aquí -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-template>








