<!DOCTYPE html>
<html>

<head>

</head>

<body>
  <div class="container">
    <h1>Redes de Colaboracion</h1>

    <div>
      <input type="text" [(ngModel)]="filtros" placeholder="Ingrese la Conferencia" (keyup.enter)="obtenerNodosFiltrados()">
      <button (click)="obtenerNodosFiltrados()">Filtrar</button>
    </div>

    <div>
      <button [disabled]="!hayTitulosSeleccionados()" (click)="generarEstadisticas()">Generar Stats</button>
    </div>

    <div>
      <label>
        Seleccione una opción:
        <select [(ngModel)]="conferenceOption" (change)="handleSelection()">
          <option value="mainConference" selected>Conferencia Principal</option>
          <option value="mainAndWorkshops">Conferencia y Workshops</option>
        </select>
      </label>
    </div>
    
    <div *ngIf="titulosFiltrados.length > 0">
      <label>
        <input type="checkbox" [(ngModel)]="seleccionarTodos" (change)="seleccionarTodosChanged()">
        <span>Seleccionar Todos</span>
      </label>
    </div>

    <div *ngFor="let titulo of titulosFiltrados">
      <label>
        <input type="checkbox" [(ngModel)]="titulo.selected" (change)="tituloChanged()">
        <span [ngClass]="{ 'selected': titulo.selected }">{{ titulo.title }}</span>
      </label>
    </div>
  </div>
</body>

</html>
