.container{

}

h2{
  text-align: center;
  font-size: 30px;
}

h3 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.flex-item {
  padding: 20px;
  margin-bottom: 50px;
}

.canvas-container {
  border: 2px solid rgb(0, 22, 68); 
  padding: 20px;
  width: 95%;
}

canvas {
  max-width: 100%; /* Hace las gráficas responsive */
  height: auto; 
  display: block; 
}

.line{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(0, 22, 68);
}


.containertable {
  width: 100%;
  justify-content: center; 
  display: flex;
  overflow: auto;
}

.tabla1{
  border-right: 1px solid rgb(0, 22, 68); 

}


td, th {
  padding: 20px;
  vertical-align: middle;
  text-align: center;
}

.centered-table {
margin: 0 auto;
}

table th:nth-child(2) {
padding-left: 0px;
}

@media screen and (max-width: 768px) {
table {
  font-size: 14px; 
}

td, th {
  padding: 8px; 
}

}

.aparte{
  margin-top: 50px;
}




