<div>
  <h2>Statistics</h2>

  <div class="flex-container" >

    <div class="flex-item">
      <h3>Authors by year</h3>

      <div class="canvas-container">
        <canvas id="lineChart1"></canvas>
      </div>
    </div>

    <div class="flex-item">
      <h3>Papers by year</h3>

      <div class="canvas-container">
        <canvas id="lineChart2"></canvas>
      </div>
    </div>
   
  </div>

  <hr class="line">

  <div class="flex-container" >

    <div class="flex-item">
      <h3>Density evolution over the years</h3>

      <div class="canvas-container">
        <canvas id="lineChart3"></canvas>
      </div>
    </div>

    <div class="flex-item">
      <h3>Percentage of single-author papers per year</h3>

      <div class="canvas-container">
        <canvas id="barChart1"></canvas>
      </div>
    </div>
   
  </div>

  <hr class="line">
  <h3 class="especial">Distributions of authors per paper and of papers per author</h3>
  <div class="container-table">
    <div class="tabla">
      <table id="autoresTabla">
        <thead>
          <tr>
            <th>Author</th>
            <th>Papers (%)</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="linev"></div>
    <div class="tabla">
      <table id="papersTabla">
        <thead>
          <tr>
            <th>Papers</th>
            <th>Author (%)</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>

  <hr class="line">

  <h3 class="especial"> Percentage of Publications Men-Women / Year</h3>
  <div class="flex-container2">

    <div class="graph-bars">

        <div class="canvas-container1">
          <div class="legend">
            <div class="hombres"></div> Men
            <div class="mujeres"></div> Women
          </div>
          <canvas class="circular" id="lineChart4"></canvas>
        </div>
        
    </div>

    <div class="graph-bars2">
      <div class="canvas-container2">
        <canvas id="lineChart8"></canvas>
      </div>
    </div>
  </div>

  <hr class="line">

  <h3> Percentage of publications by Country / Year</h3>
  <div class="flex-container">
    <div class="flex-item"> 
      <div class="canvas-container">
        <canvas id="lineChart5"></canvas>
      </div>
    </div>
  </div>

  <hr class="line">

  <h3 class="especial">Most frequent Bigrams and Trigrams</h3>
  <div class="container-table">
    <div class="tabla">
        <table id="tablaBigramas">
          <thead>
            <tr>
              <th>Bigrams</th>
              <th>Appearances</th>
              <th>First <br> año</th>
              <th>Recent <br> año</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
    </div>
    <div class="linev"></div>
    <div class="tabla">
        <table id="tablaTrigramas">
          <thead>
            <tr>
              <th>Trigrams</th>
              <th>Appearances</th>
              <th>First <br> año</th>
              <th>Recent <br> año</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
    </div>
  </div>

  <hr class="line">
  <h3 class="especial">Frequent terms from all titles of papers</h3>
  <div class="conceptual">
    <angular-tag-cloud [config]="options" [data]="cloudData"></angular-tag-cloud>
  </div>

  <hr class="line">

  <h3 class="especial">Most prolific authors according to their number of publications accumulated by decade</h3>
  <div class="container-table2">
    <div class="tabla">
        <table id="tabla90">
          <thead>
            <tr>
              <th colspan="2">
                (a) 1989-1999
              </th>
            </tr>
            <hr>
            <tr>
              <th>Author</th>
              <th>#</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
    </div>
    <div class="linev"></div>
    <div class="tabla">
        <table id="tabla00">
          <thead>
            <tr>
              <th colspan="2">
                (b) 1999-2009
              </th>
            </tr>
            <hr>
            <tr>
              <th>Author</th>
              <th>#</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
    </div>
    <div class="linev"></div>
    <div class="tabla">
      <table id="tabla10" class="centered-table">
        <thead>
          <tr>
            <th colspan="2">
              (a) 2009-2019
            </th>
          </tr>
          <hr>
          <tr>
            <th>Author</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
  </div>
  <div class="linev"></div>
  <div class="tabla">
      <table id="tabla20" class="centered-table">
        <thead>
          <tr>
            <th colspan="2">
              (a) 2019-2024
            </th>
          </tr>
          <hr>
          <tr>
            <th>Author</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>

  <hr class="line3">

  <h3>Authors with their first and most recent year of publication</h3>
  <div class="container-table2">
    <div class="tabla">
        <table id="nn">
          <thead>
            <tr>
              <th>Author</th>
              <th>Degree</th>
              <th>First <br> year</th>
              <th>Recent <br> year</th>
              <th>h-index<br> (All time)</th>
              <th>h-index<br> (Since 2015)</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
    </div>
  </div>

  <hr class="line3">

  <div class="container-table">
    <div class="tabla">
      <table id="tablaInstitution">
        <thead>
          <tr>
            <th>Institution</th>
            <th>Number of Authors</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>

  

  
  
</div>





 


