h2{
  font-size: 35px;
  text-align: center;
  margin-bottom: 50px;
}

.line{
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: rgb(0, 22, 68);
}

.line2{
  background-color: rgb(0, 22, 68);
}

.flex-item{
  margin-bottom: 50px;
}

.flex-container {
  display: block;
}

.flex-item canvas {
  max-width: 50%; 
  border: 2px solid rgb(0, 22, 68); 
  margin-left: 450px;
  padding: 20px;

}

@media screen and (max-width: 1500px) {
  .flex-item canvas {
    max-width: 100%; 
    margin-left: 0;
  }
}

.container {
  width: 80%;
  margin: 0 auto; 
  justify-content: center; 
  display: flex;
  overflow: auto;
}

.tabla1{
  border-right: 1px solid rgb(0, 22, 68); 
  padding: 70px;
}

.tabla2{
  margin-right: 70px;
  padding: 70px;
}

.conceptual {
  display: flex;
  justify-content: center; /* Alinear horizontalmente al centro */
  align-items: center; /* Alinear verticalmente al centro */
  height: 200px; /* Ajusta la altura si es necesario */
}

h4{
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}


table {
    font-size: 20px;
    border-collapse: collapse;
    max-width: 100%;
    text-align: center;
}

td, th {
    padding: 20px;
    vertical-align: middle;
    text-align: center;
}

.centered-table {
  margin: 0 auto;
}

table th:nth-child(2) {
  padding-left: 0px;
}

@media screen and (max-width: 768px) {
  table {
    font-size: 14px; /* Reducción del tamaño de fuente para pantallas más pequeñas */
  }

  td, th {
    padding: 8px; /* Reducción del espaciado entre celdas para pantallas más pequeñas */
  }
}



