<!DOCTYPE html>
<html>
  <body>
    
    <div class="nav">
      <nav>
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/statistics" routerLinkActive="active" *ngIf="activeLinkStatistics" >Statistics</a>
        <a routerLink="/info" routerLinkActive="active">Info</a>
        <a routerLink="/authors" routerLinkActive="active">Authors</a>
        <a routerLink="/network" routerLinkActive="active"  *ngIf="activeLinkNetwork">Network</a>
      </nav>
    </div>

    
    <div class="container">

      <router-outlet></router-outlet>
    </div>

    <footer id="v4-app-footer-container" fxFlex="40px" fxFlex.lt-sm="24px" fxLayout="row" fxLayoutAlign="center stretch">
      <app-footer></app-footer>
    </footer>
  
  </body>
</html>
