<div class="container">

  <!-- Title -->
  <h2>{{nameAuthor}} Collaboration Network</h2>

  <hr>

  <!-- Container Network -->
  <div class="container-network">

    <!-- Network -->
    <div class="network" #treeContainer></div>
  
    <div class="select" style="flex:1">

      <!-- Selected node -->
      <div *ngIf="selectNode">
        <h1>Selected node {{ selectNode.nodes }}</h1> 
        <div *ngFor="let edge of selectNode.edges">
          <div>Common publications of {{ selectNode.nodes }} and {{ edge }}:</div>
          <ul>
            <li *ngFor="let publication of publicationsNode[edge]">{{ publication }}</li>
          </ul>
          <ul>
            <li *ngFor="let publication of publicationsNode[selectNode.nodes]">{{ publication }}</li>
          </ul>
        </div>
      </div>

      <!-- Selected edge -->
      <div *ngIf="selectEdge && selectEdge.type === 'edge'">
        <h1> Selected edge {{ selectEdge.edge.from }} from {{ selectEdge.edge.to }}</h1> 
        <div> Common publications of  {{ selectEdge.edge.from }} and {{ selectEdge.edge.to }}:</div>
        <ul>
          <li *ngFor="let publication of publications">{{ publication }}</li>
        </ul>
      </div>
      
    </div>   
  </div>

</div>  
 
