<div>

  <!-- Title -->
  <h1>{{nameAuthor}} Collaboration Network</h1>

  <hr>

  <!-- Container Network -->
  <div class="container-network">

    <div class="cluster-network">

      <!-- Cluster settings -->
      <form class="cluster" fxLayoutGap="10px">
        <label for="minCluster">Min Cluster:</label>
        <input class="minCluster" type="number" id="minCluster" name="minCluster" [(ngModel)]="NetworkInitService.cluster.min" (change)="updateCluster()">
        
        <label for="maxCluster">Max Cluster:</label>
        <input class="maxCluster" type="number" id="maxCluster" name="maxCluster" [(ngModel)]="NetworkInitService.cluster.max" (change)="updateCluster()">
        
        <label for="showCluster">Show Cluster:</label>
        <input type="checkbox" id="showCluster" name="showCluster" [(ngModel)]="NetworkInitService.showCluster" (change)="updateCluster()">
        
      </form>

      <!-- Network -->
      <div class="network" #treeContainer></div>

    </div>

    <div class="select">
      <h1>Selections</h1> 
      <hr>
      <!-- Selected node -->
      <div *ngIf="selectNode">
        <h2>Selected node {{ selectNode.nodes }}</h2> 
        <div *ngFor="let node of selectNode.edges">
          <div *ngIf="!number && selectNode.nodes != NetworkInitService.selectedAuthors[0]">Common publications of {{ selectNode.nodes }} and {{ node }}:</div>
          <div *ngIf="number && selectNode.nodes != NetworkInitService.selectedAuthors[0]" >These authors have {{ selectNode.label }} publications in common with {{ node }}:</div>
          <div *ngIf="selectNode.nodes == NetworkInitService.selectedAuthors[0]" >{{ selectNode.nodes }} - {{ node }}:</div>
          <ul *ngIf="selectNode.nodes != NetworkInitService.selectedAuthors[0]">
            <li *ngFor="let publication of publicationsNode[selectNode.nodes]">{{ publication }}</li>
          </ul>
          <ul *ngIf="selectNode.nodes == NetworkInitService.selectedAuthors[0]">
            <li *ngFor="let publication of publicationsNode[node]">{{ publication }}</li>
          </ul>
        </div>
      </div>

      <!-- Selected edge -->
      <div *ngIf="selectEdge && selectEdge.type === 'edge'">
        <h2> Selected edge {{ selectEdge.edge.from }} from {{ selectEdge.edge.to }}</h2> 
        <div *ngIf="!number" > Common publications of  {{ selectEdge.edge.from }} and {{ selectEdge.edge.to }}:</div>
        <div *ngIf="number" >These authors have {{ selectEdge.edge.label }} publications in common with {{  selectEdge.edge.from }}:</div>
        <ul>
          <li *ngFor="let publication of  publicationsEdge[selectEdge.edge.to]">{{ publication }}</li>
        </ul>
      </div>
      
    </div>   
  </div>

</div>  
 
