<!-- Title -->
<h2>Information</h2>
<hr class="line_title">

<div class="container">

  <!-- Left Container -->
  <div class="left-container">
    <!-- Total of Publications -->
    <ul>
      <li class="click-element">{{ "Info.TotalPublications" | translate }} {{infoService.allPublications}}</li>
      <li class="click-element">{{ "Info.TotalAuthors" | translate }} {{infoService.allAuthors}}</li>
      <li class="click-element">{{ "Info.TotalConferences" | translate }} {{infoService.allConferences}}</li>
      <li class="click-element">{{ "Info.TotalJournals" | translate }} {{infoService.allJournals}}</li>
    </ul>
    
    <!-- Total of Institutions -->
    <div class="table-container">
      <table id="tableInstitution">
        <thead>
          <tr>
            <th>{{ "Info.Institution" | translate }} </th>
            <th>{{ "Info.NumberAuthors" | translate }} </th>
          </tr>
        </thead>
        <tbody>
          <div class="overlay2" *ngIf="loadingGraph4">
            <app-spinner></app-spinner>
          </div>
        </tbody>
      </table>
    </div>
  </div>

  <div class="divider"></div>

  <!-- Right Container -->
  <div class="right-container">
    <!-- Chart: Number of Conferences by Year -->
    <div class="chart-container">
      <h3>{{ "Info.NumberConferencesYear" | translate }}</h3>
      <div class="canvas-container">
        <div class="overlay" *ngIf="loadingGraph1">
          <app-spinner></app-spinner>
        </div>
        <canvas id="barChart"></canvas>
      </div>
    </div>

    <hr class="line">

    <!-- Chart: Number of Authors by Year -->
    <div class="chart-container">
      <h3>{{ "Info.NumberAuthorsYear" | translate }}</h3>
      <div class="canvas-container">
        <div class="overlay" *ngIf="loadingGraph2">
          <app-spinner></app-spinner>
        </div>
        <canvas id="barChart2"></canvas>
      </div>
    </div>

    <hr class="line">

    <!-- Chart: Number of Journals by Year -->
    <div class="chart-container">
      <h3>{{ "Info.NumberJournalsYear" | translate }}</h3>
      <div class="canvas-container">
        <div class="overlay" *ngIf="loadingGraph5">
          <app-spinner></app-spinner>
        </div>
        <canvas id="barChart3"></canvas>
      </div>
    </div>

    <hr class="line">

    <!-- Chart: Number of Conferences and Papers, Journal Articles and Thesis by Year -->
    <div class="chart-container">
      <h3>{{ "Info.AllNumbers" | translate }}</h3>
      <div class="canvas-container">
        <div class="overlay" *ngIf="loadingGraph3">
          <app-spinner></app-spinner>
        </div>
        <canvas id="tripleBarChart"></canvas>
      </div>
    </div>
  </div>
</div>
