<div class="container">

    <!-- Title -->
    <h1>Authors</h1>
  
    <!-- Search Conference -->
    <div class="box-conference">
      <input type="text" [(ngModel)]="filtersBOX" placeholder="Enter the Conference or Journal" (input)="autocompleteAuthor(filtersBOX)">
      <button class="button-add" (click)="completeSuggestion(filtersBOX)" type="button">Add</button>
      
      <div>
        <ul>
          <li class="click-element " *ngFor="let suggestion of completeConference" (click)="selectSuggestion(suggestion)">
            {{ suggestion }}
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="this.authors.length > 0" class="filters-list">
      <div>
        <p>Authors:</p>
        <hr>
        <ul>
          <li *ngFor="let filter of authors">
            {{ filter }}
            <button class="button-delete" (click)="deleteFilter(filter)">X</button>
          </li>
        </ul>
      </div>
    </div>  

    <!-- Buttons Filter -->
    <div fxFlex class="buttons" fxLayoutGap="20px">
      <div class="button-publications">
        <button (click)="getAuthorsPublications()" [disabled]="authors.length === 0 ">Search Publications</button>
      </div>

      <div class="button-publications">
        <button (click)="getNetworksAuthor()" [disabled]="authors.length === 0 ">Create Graph</button>
      </div>
    </div>

</div>

<div *ngIf="showPublications">
  <div id="legend" class="legend">
    <div class="legend-item">
      <div class="color-square red"></div>
      <div class="legend-text">Journal Article</div>
    </div>
    <div class="legend-item">
      <div class="color-square blue"></div>
      <div class="legend-text">Workshop Paper</div>
    </div>
    <div class="legend-item">
      <div class="color-square yellow"></div>
      <div class="legend-text">Part in Books or Collection</div>
    </div>
  </div>
</div>

<hr class="line" *ngIf="showPublications">

  <div class="flex-container" >
    <div class="container-table2">
      <div class="table">
        <table id="tablePublications">
          <thead>
            <tr *ngIf="showPublications" >
              <th></th>
              <th style="padding-left: 20px; padding-right: 50px;">Publications</th>
              <th style="padding-right: 30px;">Date</th>
              <th>Authors Name</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>






  
  
  
  
  
  
  
  
