<div class="container">

   <!-- Title -->
   <h2>{{nameAuthor}} Collaboration Network</h2>

   <div class="tree" #treeContainer style="height: 800px;"></div>
   
  <div style="flex:1">
    <h1 *ngIf="selectNode">Selected node {{ selectNode.nodes }}</h1> 
    <div *ngIf="selectNode">
      <div *ngFor="let edge of selectNode.edges">
        <div>Common publications of {{ selectNode.nodes }} and {{ edge }}:</div>
        <ul>
          <li *ngFor="let publication of publicationsNode[edge]">{{ publication }}</li>
        </ul>
        <ul>
          <li *ngFor="let publication of publicationsNode[selectNode.nodes]">{{ publication }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div #menuDiv style="flex:4" *ngIf="selectEdge && selectEdge.type === 'edge'">
    <h1> Selected edge {{ selectEdge.edge.from }} from {{ selectEdge.edge.to }}</h1> 
    <div> Common publications of  {{ selectEdge.edge.from }} and {{ selectEdge.edge.to }}:</div>
    <ul>
      <li *ngFor="let publication of publications">{{ publication }}</li>
    </ul>
  </div>

</div>  
 
