.conteiner{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    
}

h2{
    text-align: center;
    font-size: 35px;
    margin-bottom:0;
}

#treeContainer {
    height: 700px;
}
.espacio {
    margin-bottom: 50px;
}

hr{
    width: 50%;
    border-width: 1px; 
    border-color: black;

}

