<div>
  <h2>{{ "Menu.Statistics" | translate }}</h2>
  <hr class="line_title">


  <div class="flex-container">

    <div class="flex-item">
      <h3>{{ "Statistics.Authors_Year" | translate }}</h3>

      <div class="canvas-container">
        <canvas id="lineChart6"></canvas>
      </div>
    </div>

    <div class="flex-item" [hidden]="ConferencesAndJournalAuthors < 2">
      <h3>{{ "Statistics.Authors_Conference_Journal_Year" | translate }}</h3>

      <div class="canvas-container">
        <canvas id="lineChart1"></canvas>
      </div>
    </div>

  </div>

  <hr class="line">

  <div class="flex-container">

    <div class="flex-item">
      <h3>{{ "Statistics.Conference_Papers_Journal_Articles_Year" | translate }}</h3>

      <div class="canvas-container">
        <canvas id="lineChart7"></canvas>
      </div>
    </div>

    <div class="flex-item" [hidden]="PapersAndArticles.length < 1 || ConferencesAndJournalCount < 2">
      <h3>{{ "Statistics.Papers_Articles_Conference_Journal_Year" | translate }}</h3>

      <div class="canvas-container">
        <canvas id="lineChart2"></canvas>
      </div>
    </div>

  </div>

  <hr class="line">

  <div class="flex-container">

    <div class="flex-item">
      <h3>{{ "Statistics.Density_Evolution_Years" | translate }}</h3>

      <div class="canvas-container">
        <div class="overlay2" *ngIf="loadingTable2">
          <app-spinner></app-spinner>
        </div>
        <canvas id="lineChart3"></canvas>
      </div>
    </div>

    <div class="flex-item">
      <h3>{{ "Statistics.Single_Author_Publications_Percentage_Year" | translate }}</h3>

      <div class="canvas-container">
        <canvas id="barChart1"></canvas>
      </div>
    </div>

  </div>


  <hr class="line">

  <h3 class="special">{{ "Statistics.Distributions_Authors_Paper_Article" | translate }}</h3>
  <div class="container-table">
    <div class="table">
      <table id="authorsTable">
        <thead>
          <tr>
            <th>{{ "Menu.Authors" | translate }}</th>
            <th>{{ "Statistics.Papers_Percentage" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <div class="overlay3" *ngIf="loadingTable2">
            <app-spinner></app-spinner>
          </div>
        </tbody>
      </table>
    </div>
    <div class="line2"></div>
    <div class="table">
      <table id="papersTable">
        <thead>
          <tr>
            <th>{{ "Statistics.Papers" | translate }}</th>
            <th>{{ "Statistics.Authors_Percentage" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <div class="overlay3" *ngIf="loadingTable2">
            <app-spinner></app-spinner>
          </div>
        </tbody>
      </table>
    </div>
  </div>

  <hr class="line">

  <h3 class="special">{{ "Statistics.Men_Women_Publications_Percentage_Year" | translate }}</h3>
  <div class="flex-container">

    <div class="graph-bars">

      <div class="canvas-container1">
        <div class="legend">
          <div class="men"></div> {{ "Statistics.Men" | translate }}
          <div class="women"></div> {{ "Statistics.Women" | translate }}
        </div>
        <canvas class="circular" id="lineChart4"></canvas>
      </div>

    </div>

    <div class="graph-bars">
      <div class="canvas-container2">
        <canvas id="lineChart8"></canvas>
      </div>
    </div>
  </div>

  <hr class="line">

  <h3>{{ "Statistics.Country_Publications_Percentage_Year" | translate }}</h3>
  <div class="flex-container">
    <div class="flex-item">
      <div class="canvas-container">
        <canvas id="lineChart5"></canvas>
      </div>
    </div>
  </div>

  <hr class="line">

  <h3 class="special">{{ "Statistics.Most_Frequent_Bigrams_Trigrams" | translate }}</h3>
  <div class="container-table">
    <div class="table">
      <table id="tableBigramas">
        <thead>
          <tr>
            <th>{{ "Statistics.Bigrams" | translate }}</th>
            <th>{{ "Statistics.Appearances" | translate }}</th>
            <th>{{ "Statistics.First" | translate }} <br> {{ "Statistics.Year" | translate }}</th>
            <th>{{ "Statistics.Recent" | translate }} <br> {{ "Statistics.Year" | translate }}</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <div class="line2"></div>

    <div class="table">
      <table id="tableTrigramas">
        <thead>
          <tr>
            <th>{{ "Statistics.Trigrams" | translate }}</th>
            <th>{{ "Statistics.Appearances" | translate }}</th>
            <th>{{ "Statistics.First" | translate }} <br> {{ "Statistics.Year" | translate }}</th>
            <th>{{ "Statistics.Recent" | translate }} <br> {{ "Statistics.Year" | translate }}</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>

  <hr class="line">

  <h3 class="special">{{ "Statistics.Frequent_Terms_All_Titles" | translate }}</h3>
  <div class="conceptual">
    <angular-tag-cloud [config]="options" [data]="cloudData"></angular-tag-cloud>
  </div>

  <hr class="line">

  <h3 class="special">{{ "Statistics.Most_Prolific_Authors_Decade" | translate }}</h3>
  <div class="container-table">
    <div class="table">
      <table id="table90">
        <thead>
          <tr>
            <th colspan="2">
              (a) 1989-1999
            </th>
          </tr>
          <hr>
          <tr>
            <th>{{ "Statistics.Author" | translate }}</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="line2"></div>
    <div class="table">
      <table id="table00">
        <thead>
          <tr>
            <th colspan="2">
              (b) 1999-2009
            </th>
          </tr>
          <hr>
          <tr>
            <th>{{ "Statistics.Author" | translate }}</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="line2"></div>
    <div class="table">
      <table id="table10" class="centered-table">
        <thead>
          <tr>
            <th colspan="2">
              (a) 2009-2019
            </th>
          </tr>
          <hr>
          <tr>
            <th>{{ "Statistics.Author" | translate }}</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="line2"></div>
    <div class="table">
      <table id="table20" class="centered-table">
        <thead>
          <tr>
            <th colspan="2">
              (a) 2019-2024
            </th>
          </tr>
          <hr>
          <tr>
            <th>{{ "Statistics.Author" | translate }}</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>

  <hr class="line">

  <h3>{{ "Statistics.Authors_First_Recent_Year" | translate }}</h3>
  <div class="container-table">
    <div class="table">
      <table id="degree">
        <thead>
          <tr>
            <th>{{ "Statistics.Author" | translate }}</th>
            <th>{{ "Statistics.Degree" | translate }}</th>
            <th>{{ "Statistics.First" | translate }} <br> {{ "Statistics.Year" | translate }}</th>
            <th>{{ "Statistics.Recent" | translate }} <br> {{ "Statistics.Year" | translate }}</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>

  <hr class="line" [hidden]="PapersAndArticles.length < 1">

  <h3 [hidden]="PapersAndArticles.length < 1">{{ "Statistics.Proceeding_by_Conference" | translate }}</h3>
  <div class="container-table">

    <div class="table" [hidden]="PapersAndArticles.length < 1">
      <table id="tableProceeding">
        <thead>
          <tr>
            <th>{{ "Statistics.Name" | translate }}</th>
            <th>{{ "Statistics.Location" | translate }}</th>
            <th>{{ "Common.Date" | translate }}</th>
            <th>{{ "Statistics.Year" | translate }}</th>
            <th>{{ "Statistics.numberOfInProceedings" | translate }}</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>

  <div class="overlay" [hidden]="PapersAndArticles.length < 1" *ngIf="loadingTable1">
    <app-spinner></app-spinner>
  </div>

  <hr class="line" [hidden]="PapersAndArticles.length < 1">

  <h3>{{ "Statistics.Connected" | translate }}</h3>
  <div class="network" #treeContainer></div>

  <hr class="line">

  <div class="flex-container">

    <div class="flex-item">
      <h3>{{ "Statistics.Relations" | translate }}</h3>

      <div class="canvas-container">
        <canvas id="lineChart9"></canvas>
      </div>
    </div>

  </div>

</div>