<!DOCTYPE html>
<html>

<body>
  <!-- Navbar -->
  <div class="nav">
    <nav>
      <a class="element" routerLink="/" routerLinkActive="active">{{
        "Menu.Home" | translate
        }}</a>
      <a class="element" routerLink="/statistics" routerLinkActive="active" *ngIf="activeLinkStatistics">{{
        "Menu.Statistics" | translate }}</a>
      <a class="element" routerLink="/info" routerLinkActive="active">{{
        "Menu.Info" | translate
        }}</a>
      <a class="element" routerLink="/authors" routerLinkActive="active">{{
        "Menu.Authors" | translate
        }}</a>
      <a class="element" routerLink="/network" routerLinkActive="active" *ngIf="activeLinkNetwork">{{ "Menu.Network" |
        translate }}</a>
    </nav>

    <div class="right">
      <img class="logo" src="assets/logo.png" width="44" height="32" alt="Miguel Ibáñez" />
      <div class="vertical-bar"></div>
      <a class="es has-tooltip-bottom has-tooltip-gray" (click)="selectLanguage('es')" data-tooltip="Español / Spanish">
        <img class="language" src="assets/languages/es.svg" alt="Idioma Español - Spanish language" />
      </a>
      <a class="has-tooltip-bottom has-tooltip-gray" (click)="selectLanguage('en')" data-tooltip="Inglés / English">
        <img class="language" src="assets/languages/en.svg" alt="Idioma Inglés - English language" />
      </a>
    </div>
  </div>

  <!-- Body -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <footer class="footer-container">
    <app-footer></app-footer>
  </footer>
</body>

</html>