.tabla{
 display: flex;
 justify-content: start stretch;
}

.tabla1{
    display: flex;
    justify-content: start stretch;
    font-size: 30px;
}

.tabla2{
    padding-right: 410px;
    font-size: 30px;
}