.v4-footer-text-color {
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  text-align: left;
  font-size: 18px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
  margin-right: 20px;
}
